.mainSection{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding-bottom: 700px;
    background-size: cover;
    background-image: url('/bgwind.svg');
    border-bottom: 2px solid var(--suportColor);
    overflow: hidden;
}

.mainContainer{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: var(--max-width);
    flex-direction: column;
}

.mainContainer h2{
    color: var(--mainColor);
    margin-bottom: 40px;
    text-align: center;
    font-size: 40px;
    font-weight: normal;
}

.mainContainer h2 strong{
    color: var(--suportColor);
}

.mainContainer h2 span{
    text-decoration: underline var(--suportColor) 2px;
}

.mainContainerText{
    text-align: center;
}

.mainContainerCards{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
}

.promoCard{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    background-color: #ececec;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 30px;
    width: 350px;
}

.promoCard p:nth-child(1){
    line-height: 100%;
    color: var(--mainColor);
    font-weight: 500;
}

.promoCard p:nth-child(2){
    color: var(--suportColor);
    font-family: var(--young-serif-font-family);
    font-size: 40px;
}


.firstFlower{
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(-1);
    width: 50%;
    max-width: 280px; 
    margin-bottom: -10%;
}

.secondFlower{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    max-width: 280px; 
    margin-bottom: -10%;
}


@media screen and (min-width:1024px) and (max-width: 1250px){
    .mainContainerCards{
        justify-content: center;
    }
}

@media screen and (min-width:0px) and (max-width: 1250px){
    .mainContainerCards{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 60px;
        justify-content: center;
        flex-wrap: wrap;
        display: flex;
    }
}