.MainSection{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('/bgAvaliacoes.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.containerMain{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}