.maainLanguageBar{
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 99999;
    height: 60px;
    position: fixed;
    top: 0;
    justify-content: center;
    padding: 15px 0px;
    background-color: rgb(49 57 78);
}

.containerLanguageBar{
    width: 90%;
    max-width: var(--max-width);
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.TelDiv div a{
    transition: all 500ms ease-in-out;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
}

.TelDiv div a:hover{ 
    font-size: 20px;
    color: var(--suportColor);
}
.TelDiv div a img{ 
    margin-right: 10px;
    transition: all 500ms ease-in-out;
}

.TelDiv div a:hover img{
    opacity: 0.7;
}

.MainDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Separated{
    width: 10px;
    height: 10px;
    background-color: #3c455e;
    border-radius: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

.SocialMidia{
    display: flex;
}


.LanguageDiv img{
    transition: all 500ms ease-in-out;
    margin-left: 10px;
}

.LanguageDiv img:hover{
    opacity: 0.6;
}

.crashLater{
    display: flex;
    align-items: center;
}

.hambmenu{
    display: none;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    
}

.hambmenuContainer{
    width: 100%;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    flex-direction: column;
    transition: all 500ms ease-in-out;
}

.hambmenuContainer span{
    width: 100%;
    transform: rotate(0deg);
    height: 4px;
    transition: all 500ms ease-in-out;
    border-radius: 30px;
    background-color: white;
}

.menuExistis{
    position: relative;
    transition: all 500ms ease-in-out;
}

.menuExistis span{
    position: absolute!important;
}

.menuExistis span:nth-child(1){
    transform: rotate(45deg);
}
.menuExistis span:nth-child(2){
    transform: rotate(45deg);
    width: 100%!important;
}

.menuExistis span:nth-child(3){
    transform: rotate(-45deg);
}



.hambmenuContainer span:nth-child(2){
    width: 70%;
}


.hambmenuContainer:hover span{
    background-color: var(--suportColor);
}

.hambmenuContainer:hover span:nth-child(2){
    width: 100%;
}


.mainMenuHere{
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    padding-bottom: 40px;
    overflow: hidden;
    background-color: var(--mainColor);
}

.ModalHere{
    z-index: 99999;
    display: flex;
    flex-direction: column;
    max-width: var(--max-width);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    overflow-y: scroll;
    height: 600px;
    margin-top: 80px;
}

.mainListNavBar{
    padding: 20px 0;
    width: 90%;
    text-decoration: none;
    list-style: none;
    transition: all 500ms ease-in-out;
    color: white;
    max-width: var(--max-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.mainListNavBar p{
    font-size: 2rem;
    font-weight:300;
    text-align: center;
    transition: all 500ms ease-in-out;
}

.mainListNavBar p:hover{
    color: var(--suportColor);
}



.LanguageDivModal{
    display: inline;
}

.LanguageDivModal img{
    transition: all 500ms ease-in-out;
    margin-left: 15px;
}

.LanguageDivModal img:hover{
    opacity: 0.6;
}

.tel{
    display: flex;
    align-items: center;
    justify-content: center;
}
.tel img{
    margin-left: 15px;
}

.tel p{
    margin-left: 10px;
    cursor: pointer;
    color: white;
}

.tel p:hover{
    margin-left: 10px;
    color: var(--suportColor);
}

@media screen and (min-width: 280px) and (max-width: 1024px){
    .maainLanguageBar{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 60px;
        justify-content: center;
        background-color: var(--mainColor);
    }
    
    .containerLanguageBar{
        width: 90%;
        max-width: var(--max-width);
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--mainColor);
    }  

  

    .TelDiv div a img:last-child{ 
        margin-left: 10px;
        margin-right: 0px;
    }

    .crashLater{
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .firstSocial{
        margin-left: 0px!important;
    }




    .LanguageDiv a{
        display: none;

    }

    .LanguageDiv a{
        display: none;
    }

    .SocialMidia{
        display: none;
    }
    
    .Separated{
        width: 10px;
        height: 10px;
        display: none;
        background-color: #3c455e;
        border-radius: 100%;
        margin-left: 20px;
        margin-right: 20px;
    }

    .hambmenu{
        display: flex;
    }

}



@media screen and (min-width:0px) and (max-width: 320px){
    .TelDiv div a{
        font-size: 18px;
    }
}

@media screen and (min-height: 0px) and (max-height: 400px){
    .mainMenuHere{
        z-index: 9999;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        height: 100vh;
        width: 100%;
        padding-bottom: 40px;
        overflow: hidden;
        background-color: var(--mainColor);
    }
    
    .ModalHere{
        z-index: 99999;
        display: flex;
        flex-direction: column;
        max-width: var(--max-width);
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        width: 90%;
        overflow-y: scroll;
        height: 600px;
        margin-top: 80px;
    }
}